<div class="container">
  <form action="" method="POST">
    <div class="form-row align-items-center">
      <div class="col-auto my-1">
        <label class="mr-sm-2" for="inlineFormCustomSelect">Select target namespace:</label>
        <select name="namespace" class="custom-select mr-sm-2" id="inlineFormCustomSelect">
          <option selected>Namespace...</option>
          {{ range $ns := .namespaces }}
          <option value="{{ $ns }}">{{ $ns }}</option>
          {{ end }}
        </select>
      </div>

      <div class="col-auto my-1">
        <button type="submit" class="btn btn-primary">Submit</button>
        <input type="hidden" name="action" value="list">

      </div>
    </div>
  </form>
</div>
<br />
<br />
{{ if .namespace }}
<div>
  Selected Namespace: {{ .namespace }}
</div>
{{ end }}

{{ if .deployments }}
<div>

  <table id="deploymentsList" class="table table-bordered">
    <thead>
      <tr>
        <th>Deployment Name</th>
        <th>Replicas</th>
        <th>Pods Ready</th>
        <th>Image</th>
        <th>action</th>
      </tr>
    </thead>
    <tbody>
      {{ range $deployment := .deployments }}
      <tr>
        <form action="" method="POST">
          <td>
            {{ $deployment.Name}}
          </td>
          <td>
            <input type="text" class="form-control" size="1" id="{{ $deployment.Name}}-replicas" name="replicas"
              value="{{$deployment.Replicas}}">
          </td>
          <td>
            {{ $deployment.ReadyPods}}
          </td>

          <td>
            <input type="text" class="form-control" id="{{ $deployment.Name}}-image" name="image"
              value="{{$deployment.Image}}">

          </td>
          <td>
            <button type="submit" class="btn btn-outline-primary">Update</button>
          </td>
          <input type="hidden" name="action" value="update">
          <input type="hidden" name="namespace" value="{{ $deployment.Namespace}}">
          <input type="hidden" name="deploymentName" value="{{ $deployment.Name}}">


        </form>
      </tr>

      {{ end }}
    </tbody>
  </table>
</div>
{{ end }}