<div>
    <form method="POST" target="{{ .basepath }}/login">
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" name="adminEmail" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
          <label for="token">Access Token</label>
          <input type="password" name="accessToken" class="form-control" id="token" placeholder="YourToken">
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
      </form>
    </div>

        {{ if .error  }}
        <div class="alert alert-danger" role="alert">
           Error: {{ .error }}
          </div>
        {{ end }}
